html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100vh 100vh 100px;
    grid-gap: 10px;
    grid-template-areas:
        "h h h h"
        "m m m m"
        "f f f f"
}

header {
    background-image: url(../images/shahadat-shemul-voM1Z9cGPCU-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    grid-area: h;
}
main {
    grid-area: m;
    
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 26%, rgba(246,41,12,1) 26%, rgba(246,41,12,1) 26%, rgba(240,47,23,1) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 74%, rgba(250,3,3,1) 74%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(26%, rgba(252,252,252,1)), color-stop(26%, rgba(246,41,12,1)), color-stop(26%, rgba(246,41,12,1)), color-stop(48%, rgba(240,47,23,1)), color-stop(48%, rgba(255,255,255,1)), color-stop(73%, rgba(255,255,255,1)), color-stop(74%, rgba(255,255,255,1)), color-stop(74%, rgba(250,3,3,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 26%, rgba(246,41,12,1) 26%, rgba(246,41,12,1) 26%, rgba(240,47,23,1) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 74%, rgba(250,3,3,1) 74%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 26%, rgba(246,41,12,1) 26%, rgba(246,41,12,1) 26%, rgba(240,47,23,1) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 74%, rgba(250,3,3,1) 74%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 26%, rgba(246,41,12,1) 26%, rgba(246,41,12,1) 26%, rgba(240,47,23,1) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 74%, rgba(250,3,3,1) 74%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 26%, rgba(246,41,12,1) 26%, rgba(246,41,12,1) 26%, rgba(240,47,23,1) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 74%, rgba(250,3,3,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fa0303', GradientType=1 );

}
main h1 {
    font-size: 5rem;
    padding: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer {
    grid-area: f;
    background-color: black;
}
.up {
    background-color: rgba(0, 255, 255, 0.683);
    grid-area: 3 / 4 / 2 / 3;
    z-index: 1;
}
/* .rojo {
    background-color: brown;
    grid-area: 3 / 4 / 2 /3;
} */
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: aliceblue;
    padding: 50px;
}

li a {
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 1rem;
}

img {
    height: 100px;
}

.icon-twitter {
    /* filter:  */
}

.icon:hover,
.icon:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

@media (min-width: 1281px) {
    html {
        background-color: brown;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    html {
        background-color: blueviolet;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        background-color: orangered;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    html {
        background-color: blue;
    }
}